.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  width: 60vw;
  margin: auto;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  color: red;
}

.button-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.priority-wrap {
  width: 50px;
  text-align: left;
}

.summary-wrap {
  width: 45%;
}

.date-wrap {
  width: 15%;
}

.loading {
  text-align: center;
}

.disable:hover {
  cursor: not-allowed;
}
.disable:active {
  pointer-events: none;
}
.delete-icon.disable {
  filter: opacity(0.5);
}

@media screen and (max-width: 980px) {
  .item {
    width: 90vw;
  }
}
