<div class="button-wrap">
  <h1>Todo List</h1>
  <button mat-mini-fab color="primary" (click)="createTodo()">
    <mat-icon>add</mat-icon>
  </button>
</div>

@defer (on viewport) {
  @for (todo of todos$ | async; track todo) {
    <div class="item" [class.completed]="todo.isCompleted">
      <div class="summary-wrap">
        @if (todo.isCompleted) {
          <mat-checkbox
            (change)="mark(todo.id, MARKTYPE.completed)"
            [checked]="todo.isCompleted"
            (click)="$event.preventDefault()"
          ></mat-checkbox>
        } @else {
          <mat-checkbox
            (change)="mark(todo.id, MARKTYPE.unFinished)"
            [checked]="todo.isCompleted"
            (click)="$event.preventDefault()"
          ></mat-checkbox>
        }

        <span [matTooltip]="todo.description || ''" matTooltipPosition="above" [class.highlight]="todo?.isHighlight">
          {{ todo.summary }}
        </span>
      </div>

      @if (!todo.isCompleted) {
        <div class="priority-wrap">
          <span>{{ todo.priority | priorityPipe }}</span>
        </div>

        <div class="date-wrap">
          <span>{{ todo?.completeByDate?.toString() | date: 'dd/MM/yy' }}</span>
        </div>

        <div>
          <mat-icon (click)="editTodo(todo)">edit</mat-icon>
          <mat-icon class="delete-icon" (click)="openPopConfirm(todo.id)">delete</mat-icon>
        </div>
      }
    </div>
  }
} @placeholder (minimum 2000ms) {
  <div class="loading">Loading ...</div>
}

@if (!(todos$ | async)?.length) {
  <div class="loading">Start with Todo App</div>
}
