form {
  padding: 30px;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

::ng-deep mat-form-field {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
  }
}

.form-control {
  box-sizing: border-box;
  width: 90%;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 20px;
}

.button-wrap {
  padding: 15px 25px;
  text-align: right;

  button {
    height: 40px;
  }
}

@media screen and (max-width: 980px) {
  form {
    width: 70vw;
  }
}

@media screen and (max-width: 475px) {
  form {
    width: unset;
  }
}
