<form [formGroup]="form" (submit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Summary</mat-label>
    <input matInput formControlName="summary" class="form-control" maxlength="30" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description:</mat-label>
    <input matInput formControlName="description" class="form-control" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Complete by Date:</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="completeByDate"
      class="form-control"
      [matDatepickerFilter]="dateFilter"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority" class="form-control">
      @for (priority of priorities; track priority) {
        <mat-option [value]="priority.value">{{ priority.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="button-wrap">
    <button mat-button color="primary" type="submit">
      <span>{{ submitButtonText }}</span>
    </button>
  </div>
</form>
