<form [formGroup]="form" (submit)="onFormSubmit()">
  <div class="wrap">
    <label for="summary">Summary:</label>
    <input formControlName="summary" id="summary" class="form-control" maxlength="30" />
  </div>

  <div class="wrap">
    <label for="description">Description:</label>
    <textarea formControlName="description" id="description" class="form-control"></textarea>
  </div>

  <div class="wrap">
    <label for="completeByDate">Complete By Date:</label>
    <input formControlName="completeByDate" id="completeByDate" type="date" class="form-control" />
  </div>

  <div class="wrap">
    <label for="priority">Priority:</label>
    <select formControlName="priority" id="priority" class="form-control">
      @for (priority of priorities; track priority) {
        <option [value]="priority.value">{{ priority.label }}</option>
      }
    </select>
  </div>

  <div class="button-wrap">
    <button mat-button color="primary" type="submit">
      @if (isEditMode) {
        <span>Edit</span>
      } @else {
        <span>Create</span>
      }
    </button>
  </div>
</form>

<app-loader [show]="isLoading$ | async"></app-loader>
